/*!
 * RicBlog CSS
 * Twitter: Ricter(@RicterZ)
 * Website: http://www.ricter.info
 * E-mail : RicterZheng@gmail.com 
 */

/*!
 * Background Lay
 */

.lay_background{
position:absolute;
position:fixed;
left:0;
top:0;
z-index:-1;
overflow:hidden
}

.lay_background_img {
width:100%;
}

.lay_background .lay_background_img{
position:absolute;
left:0;
top:0;
z-index:-1
}
.lay_background .lay_background_img{
opacity:0;
-webkit-transition:opacity .8s ease;
-moz-transition:opacity .8s     ease;
transition:opacity .8s ease
}
 .lay_background .lay_background_img_fade_out{
 opacity:1
 }

.navbar {
opacity: 0.9;
border: none;
box-shadow: 0px 3px 3px #999;
}

* {
 margin: 0;
 padding: 0;
 }

a {
text-decoration: none;
transition: color 400ms;
-moz-transition: color 400ms;
-webkit-transition: color 400ms;
}

div.articleCell > h1 {
padding: 0px 0px 20px 0px;
/*-webkit-box-reflect: below 
-45px -webkit-gradient(
linear, left top, left 
bottom, color-stop(
30%,rgba(255, 255, 255, .05
)), color-stop(
100%,rgba(255, 255, 255, .25
)))*/
}

div.articleCell > h6#articleinfo {
color: #999;
}

a:hover {
color: #663300;
text-decoration: none;
}

body {
font-family:"Lato", sans-serif;
background: #EEE;
background: url(/static/img/bc.png) repeat;
margin: 50px;
}

div#articleContainer, div#loadContainer {
padding-top: 40px;
width: 80%;
margin: auto;
}

div.articleCell, div.loginCell {
background: #FFF;
padding: 40px;
width: 70%;
transition: box-shadow 400ms;
border: 1px #CCC solid;
/*-moz-transition: box-shadow 400ms;
-webkit-transition: box-shadow 400ms;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
box-shadow: 2px 2px 10px #333;
-moz-box-shadow: 2px 2px 10px #333;
-webkit-box-shadow: 2px 2px 10px #333;*/
}

.articleCell img {
width: 100%;
box-shadow: 0px 0px 20px #000;
}


div.loginCell {
width: 40%;
}

textarea {
        min-width:100%;
max-width:100%;
        min-height:180px;
}

/*div.articleCell:hover {
box-shadow: 2px 2px 16px #000;
-moz-box-shadow: 2px 2px 16px #000;
-webkit-box-shadow: 2px 2px 16px #000;
}*/

div#loadMsg {
text-align: center;
display: none;
}

@media screen and (max-width: 980px) {
body {
margin:0;
}

div#articleContainer {
padding:0;
width: 100%;
}

div.articleCell {
padding: 40px 3px 40px 3px;
width: 100%;
}

div.loginCell {
padding: 40px 3px 40px 3px;
width: 100%;
}

div#loadContainer {
width: 100%;
}
}

/* TimeLine */
div.timeline-box, div.timeline-time {
  display:inline-block;
}

div.timeline-box {
  padding-bottom: 20px;
  padding-left: 20px;
}

div.left-border {
  border-left:solid 2px #d0d0d0;
}


    span.circle {
  width: 20px;
  height: 20px;
  border:solid 2px #d0d0d0;
  background:#FFF;
  border-radius:100%;
  -webkit-border-radius:100%;
  -mozborder-radius:100%;
  position: absolute;
  z-index: 1;
      margin-left: 111px;
  margin-top: -9px;
}

div.timeline-time {
  padding-right: 20px;
  width: 117px;
}

span.month{
  font-size: 0.6em;
  color: #aaa;
  width: 50px;
  display: inline-block;
}

.date {
  font-size: 1.4em;
}

li.timeline {
  display:block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}