{% if not article['title'] == 'None' %}<div class="page-header articleCell">
    <h1><a href="/article?id={{ article['id'] }}">{{ article['title'] }}</a></h1>
    <h6 id="articleinfo">Post on {{ article['time'] }}, {{ article['lookcount'] }} Clicks, <a style="color:#999" href="/article?id={{ article['id'] }}#disqus_thread"></a></h6><br />
    <div>
        {% for line in range(0,6) %}
            {{ article['content'].split('\n')[line] }}
        {% endfor %}
        <h6><a href="/article?id={{ article['id'] }}">more</a></h6>
    </div>
</div>{% else %}None{% endif %}
