{% extends "base.html" %}

{% block nav %}
  <li><a href="/">文章</a></li>
  <li><a data-toggle="modal" data-target="#search" href="##">搜索</a></li>
  <li class="active"><a href="/timeline">时间线</a></li>
{% endblock %}

{% block body %}
{% set a='' %}
{% set b='' %}
<div id="articleContainer">
  <div class="page-header articleCell">
  <ul>
  {% for article in articles %}
  <li class="timeline">
    <div class="timeline-time">
        {% set a = article['time'].split('-')[1] %}
        {% if a != b %}<span class="circle"></span>{% set month = a + '月' %}{% else %}{% set month = '' %}{% endif %}
        <span class="month">{{ month }}</span><span class="pull-right date">{{ article['time'].split(' ')[0].split('-')[-1] }}日</span>
        {% set b = article['time'].split('-')[1] %}
    </div>
    <div class="timeline-box left-border"><a class="date" href="/article?id={{ article['id'] }}">{{ article['title'] }}</a></div>
  </li>
  {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}
